body{
    background-color: rgb(232 232 232);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    position: absolute;
    
}

#header{
    background-color: rgb(17, 7, 95);
    margin: 0;
    height: 120px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}

#logo{
    width: 65px;
    height: 65px;
}

#header > h1 a{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 15px;
    text-decoration: none;
    margin-left: 70px;
}



.caja-item{
    align-items:flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    align-content: flex-end;
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;
}


.menu-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #ccc;
    height: 65px;
    margin: 0;
    padding: 0;
    min-width: 0;
    position: sticky;
    align-self: flex-start;
}

.menu-area a{
    align-items: center;
    color: azure;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    font-size: 1.3rem;
    
    transition: all 500ms;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    margin-left: 0;
    width: 305px;
   

    
}

.menu-area a:hover{
    background-color: #555;
    color: darkgray;

}

#container{
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2%;
    background-color: rgb(232 232 232);

}

.item{
    width: 100%;
    height: 90%;
    margin-left: 50px;
    border-bottom: 1px solid #ccc;

}

.item img{
    width: 750px;
    height: 500px;
    align-items: center;
    border-radius: 5%;
}

.item h2, h3{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
}



